@import 'src/tokens';

.root {
  display: inline-flex;
  align-items: center;
}

.logo {
  font-family: $font-secondary;
  font-weight: $bold;
  color: $brand-primary-200;
  margin: $space-inline-xxs;
}

.emoji {
  font-size: 20px;
  line-height: 20px;
}
